<div class="container alert alert-primary">
  <form (submit)="submitFormData(data)">
    <div class="form-group">
    <div class="row">
      <div class="col">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="{{firstname}}" [(ngModel)]="firstname" name="firstname">
      </div>
      <div class="col">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="{{lastname}}" [(ngModel)]="lastname" name="lastname">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Street Address</label>
        <input type="text" class="form-control" placeholder="{{address.street}}" [(ngModel)]="address.number" name="number">
        <input type="text" class="form-control" placeholder="{{address.street}}" [(ngModel)]="address.street" name="street">
        <input type="text" class="form-control" placeholder="{{address.street}}" [(ngModel)]="address.streettype" name="streettype">
      </div>
    </div>
  </div>
    <div class="form-group">
      <div class="row">
      <div class="col-lg-4">
        <label>City</label>
        <input type="text" class="form-control" placeholder="{{address.city}}" [(ngModel)]="address.city" name="city">
      </div>
      <div class="col-lg-1">
        <label>State</label>
        <input type="text" class="form-control" placeholder="{{address.state}}" [(ngModel)]="address.state" name="state">
      </div>
      <div class="col-lg-4">
        <label>Zip Code</label>
        <input type="text" class="form-control" placeholder="{{address.zip}}" [(ngModel)]="address.zip" name="zip">
      </div>
      <div class="col-lg-3">
        <label>Select Elected Official:</label>
        <select name="official" [(ngModel)]="voterinfo.roles">
          <option value="headOfGovernment">President</option>
          <option value="deputyHeadOfGovernment">Vice President</option>
          <option value="legislatorUpperBody">US Senator</option>
          <option value="legislatorLowerBody">US Representative</option>
        </select>
      </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div class="row">
  <div class="container">
    <h2>Your {{voterinfo.reptype}} is: {{voterinfo.repname}}</h2>
    </div>

</div>
<!--
<h1>Hello {{firstname}} {{lastname}}</h1>
<h2>{{address.street}}</h2>
<h2>{{address.city}}</h2>, <h2>{{address.state}}</h2>
<h2>{{address.zip}}</h2>
<button (click)="submitFormData(firstname)">CLick Me</button>
<!---
<h1>Hobbies:</h1>
<form (submit)="addHobby(hobby.value)">
  <div>
    <label for="hobby">Hobby: </label>
    <input type="text" #hobby>
  </div>
</form>

<ul>
  <li *ngFor="let hobby of hobbies; let i = index">
    {{i + 1}}. {{hobby}} <button (click)="deleteHobby(hobby)">X</button>
  </li>
</ul>
<!---
<h1>Posts</h1>
<div *ngFor="let post of posts">
  <h4>{{post.title}}</h4>
  <p>{{post.body}}</p>
</div>
<!----->
